@font-face {
    font-family: 'Domaine';
    src: url("./DomaineDispCondMedium.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    height: 100vh;
    background-color: #C8C0B6;
}

#nav{
    height: 100px;
    width: 100%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    border-bottom: 1px solid #6F6C66;
}

#nav h4{
    font-family:Editorial New Light;
    font-size: 17px;
    font-weight:lighter;
    width: 30%;
    color: #4A4843;    
}

#nav img{
    height: 30px;
    width: 30%;
}

#nav i{
    font-size: 26px;
    width: 30%;
    text-align: right;
    font-weight: 600;
    padding: 10px;
}

#elems{
    margin-top: 38px;
    width: 100%;
    height:400px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#elem1{
    width: 32%;
    padding: 0px 40px;
}

#elem2{
    width:28% ;
    padding-top: 20px;
    text-align: center;
    height: 100%;
    border-left: 1px solid #817C76;
    border-right: 1px solid #817C76;
}

#elem3{
    width: 31%;
    padding: 0px 20px;
}

#elem-image-div{
    width: 100%;
    overflow: hidden;
}

#elem-image-div img{
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-in 0.4s;
}

#elem-image-div img:hover{
    scale: 1.1;
}

#elem1 h5{
    margin: 14px 0px;
    font-size: 26px;
    font-family: Domaine;
}
#elem1 h5 span{
    margin-right: 4px;
    background-color: #B83C12;
    padding: 3px;
    color: #C2B1A5;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px
}
#elem1 p {
    font-size: 20px;
    text-align: justify;
    color:#272626;
    font-family:Editorial New Light;
}
#elem3 h5{
    margin: 14px 0px;
    margin-right: 5px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: Domaine;
}
#elem3 h5 span{
    margin-left: 4px;
    background-color: #B83C12;
    padding: 3px;
    color: #C2B1A5;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px
}

#elem3 p{
    font-size: 20px;
    color:#272626;
    font-family:Editorial New Light;
}

#elem2 h2{
    font-size: 80px;
    font-family:Canopee ;
    margin-bottom: 20px;
}

#elem2 p{
    font-family:Editorial New Light;
    text-align: center;
    letter-spacing: -.03em;
    margin-top: 1vw;
    font-size: 2.6vw;
    line-height: 3vw;
}
#elem2 p:last-child{
    font-family:Editorial New Light;
    padding-top: 4px;
    font-size:20px;
    margin-top: 27px;
}
#elem2 p:last-child span{
    margin-right: 10px;
}
